<div class="container__card-first">
  <div class="card-first">
    <h1 class="title">Get in touch</h1>
    <p class="text">
      Want to get in touch? We'd love to hear from you! Here's how you can reach
      us...
    </p>
  </div>
</div>
<div class="container">
  <div class="container__contact-card">
    <img
      src="https://cdn.icon-icons.com/icons2/909/PNG/512/telephone_icon-icons.com_70849.png"
      alt="telephone-icon"
      class="card__img"
    />
    <h3 class="title__secondary">Talk to Sales</h3>
    <p>
      Interested in renting a car? Just pick up the phone to chat with a member
      of our sales team.
    </p>
    <h3 class="card__phone-number">+1-202-555-0138</h3>
  </div>
  <div class="container__contact-card">
    <img
      src="https://icon-library.com/images/chat-icon-white/chat-icon-white-9.jpg"
      alt="telephone-icon"
      class="card__img"
    />
    <h3 class="title__secondary">Contact Customer Support</h3>
    <p>
      Sometimes you need a little help from your friends. Don’t worry… we’re
      here for you!
    </p>
    <h3 class="card__email">rentacar@gmail.com</h3>
  </div>
</div>
